{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SoyoBnB</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,600" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://efrolicss.com/assets/css/dist/efrolic.min.css">  
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <style type="text/css">
    .text-danger{
      color: #f44336;
    }
    .area_photo{
      width: 100%;
      height: 100%;
    }
    .text_white{
      color: #ffffff;
    }
    .text-green{
      color: #1B5E20;
    }
    .bg-soyo{
      background-color: red;
      color: white;
    }
  </style>    
</head>

<body>
{% include 'guest/guest_header.html' %} 
<section class="category-container page-section bg-white category--layout-1">
  	<div class="container">
    	<div class="row">
    		<div class="col-lg-3"></div>
    		<div class="col-lg-4">

    			<div class="row">
    				  <div class="col">
                Congratulations Booking was confirmed.    
              </div>
    			</div>
    		</div>
    	</div>
	</div>
</section>
</html>