
{% load static %}
{% load crispy_forms_tags %}
{% load user_agents %}

 <!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SoyoBnB</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,600" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://efrolicss.com/assets/css/dist/efrolic.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <style>
    .guest_amenties{
      width: 70px;
      height: 80px;
      margin: 0 auto;
      
    }
    .guest_extra{
      padding-left:15px;
    }
    .login_btn{
        background-color: #e65100;
        color:#fff;
    }

        .bg-soyo{
      background-color: red;
    }
    .bed_image{
      width: 100%;
      height: 100%;
    }
  </style>

</head>

<body>
{% include 'guest/guest_header.html' %} 
<div class=""></div>
<div class="container">
  <div class="row">
      <div class="col-lg-8">
    

      </div>
      <div class="col-lg-4">
        <!-------->
      </div>
    </div>
  </div>
</div>
<div class="page-content page-content--no-b-bottom">
 <section class="single-listing single-listing--layout-2">
  <nav class="listing-nav bg-white">
    <div class="container">
      <ul class="min-list inline-list listing-tabs">
        <li class="listing-tab is-active">
          <a href="#about" id="about-link" class="listing-nav-link">
            About
          </a>
        </li><!-- .listing-tab -->

        <li class="listing-tab">
          <a href="#menu" id="menu-link" class="listing-nav-link">
            BnB Menu
          </a>
        </li><!-- .listing-tab -->

        <li class="listing-tab">
          <a href="#gallery" id="gallery-link" class="listing-nav-link">
            Gallery
          </a>
        </li><!-- .listing-tab -->

        <li class="listing-tab">
          <a href="#book-it" id="book-it-link" class="listing-nav-link">
            Book Now
          </a>
        </li><!-- .listing-tab -->
      </ul><!-- .listing-tabs -->
    </div>
  </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          {% if error_date%}
              <h6 class="text-danger text-center">Please Select Valid checkin Date</h6>
          {% endif %}
          {% if error_time %}
              <h6 class="text-danger text-center">please Select Valid Checkin time</h6>
          {% endif %}
          {% if not_available %}
              <h6 class="text-danger text-center">Sorry! Time Slot is not available please choose another slot.</h6>
          {% endif %}          
        </div>
      </div>
    </div>
  <div class="listing-main bg-wild-sand">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div id="about" class="listing-section bg-white hover-effect" data-matching-link="#about-link">
            <div class="listing-section__header">
              <h3 class="listing-section__title">About</h3>
            </div><!-- .listing-section__header -->

            <div class="c-dove-gray">
              <p>
               {{listing.listing_description}}
              </p>
              <div class="container">
                {% if request|is_mobile %}
                  <div class="row">
                    <div class="col-lg-12">
                      <table style="margin-left: 40px;">
                          <tr>
                            <td class="guest_amenties_class">
                              {% if listing.is_gym_available %} 
                                <figure class="guest_amenties">
                                  <img src="{% static 'assets/icons/dumbbell.svg' %}" alt="Gym">
                                  <figcaption class="guest_extra">Gym</figcaption>
                                </figure>
                              {% endif %}                              
                            </td>
                            <td>
                            {% if listing.is_wifi_available %} 
                              <figure class="guest_amenties">
                                <img src="{% static 'assets/icons/wifi.svg' %}" alt="Free Wifi">
                              <figcaption class="guest_extra">wifi</figcaption>
                            </figure>
                            {% endif %}                              

                            </td>
                          </tr>
                          <tr>
                            <td>
                                {% if listing.is_spa_available %} 
                                  <figure class="guest_amenties">
                                    <img src="{% static 'assets/icons/massage.svg' %}" class="guest_amenties">
                                  <figcaption class="guest_extra">spa</figcaption>
                                </figure>
                                {% endif %}
                            </td>
                            <td>
                                {% if listing.is_restaurant_inside %} 
                                  <img src="{% static 'assets/icons/cutlery.svg' %}" class="guest_amenties">
                                  <figcaption class="guest_extra">Restarent</figcaption>

                                {% endif %}
                            </td>
                          </tr>
                          <tr>
                              <td>
                                {% if listing.is_tv_available %} 
                                  <img src="{% static 'assets/icons/monitor.svg' %}" class="guest_amenties">
                                  <figcaption class="guest_extra">LED Tv</figcaption>
                                {% endif %}
                              </td>
                              <td>
                                {% if listing.is_wardrob_available %} 
                                  <img src="{% static 'assets/icons/wardrobe.svg' %}" class="guest_amenties">
                                  <figcaption class="guest_extra">Wardrobe</figcaption>
                                {% endif %}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                {% if listing.is_elevator_available %} 
                                  <img src="{% static 'assets/icons/elevator.svg' %}" class="guest_amenties">
                                  <figcaption class="guest_extra">Elevator</figcaption>
                                {% endif %}
                              </td>
                              <td>
                                {% if listing.is_parking_available %} 
                                  <img src="{% static 'assets/icons/garage.svg' %}" class="guest_amenties">
                                  <figcaption class="guest_extra">Parking</figcaption>
                                {% endif %}
                              </td> 
                            </tr> 
                      </table>
                    </div>
                  </div>
                {% else %}
                <div class="row">
                    {% if listing.is_gym_available %} 
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 card">                      
                        <figure class="guest_amenties">
                          <img src="{% static 'assets/icons/dumbbell.svg' %}" alt="Gym">
                          <figcaption class="guest_extra">gym</figcaption>
                        </figure>
                    </div>
                    {% endif %}                    
                      {% if listing.is_wifi_available %}                     
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 card">
                        <figure class="guest_amenties">
                          <img src="{% static 'assets/icons/wifi.svg' %}" alt="Free Wifi">
                        <figcaption class="guest_extra">wifi</figcaption>
                      </figure>                      
                    </div>
                    {% endif %}
                      {% if listing.is_spa_available %}                    
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 card"> 
                        <figure class="guest_amenties">
                          <img src="{% static 'assets/icons/massage.svg' %}" class="guest_amenties">
                        <figcaption class="guest_extra">spa</figcaption>
                      </figure>                      
                    </div>
                    {% endif %}
                      {% if listing.is_restaurant_inside %}                     
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 card">
                        <figure class="guest_amenties">
                        <img src="{% static 'assets/icons/cutlery.svg' %}" class="guest_amenties">
                        <figcaption class="guest_extra">restarent</figcaption>
                      </figure>
                    </div>                    
                      {% endif %}
                      {% if listing.is_tv_available %}                       
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 card">
                        <figure class="guest_amenties">
                        <img src="{% static 'assets/icons/monitor.svg' %}" class="guest_amenties">
                        <figcaption class="guest_extra">led tv</figcaption>                      
                      </figure>
                    </div>
                    {% endif %}
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 card">
                      {% if listing.is_wardrob_available %} 
                        <img src="{% static 'assets/icons/wardrobe.svg' %}" class="guest_amenties">
                        <figcaption class="guest_extra">wardrobe</figcaption>
                      {% endif %}
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 card">
                      {% if listing.is_elevator_available %} 
                        <img src="{% static 'assets/icons/elevator.svg' %}" class="guest_amenties">
                        <figcaption class="guest_extra">elevator</figcaption>
                      {% endif %}
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 card">
                      {% if listing.is_parking_available %} 
                        <img src="{% static 'assets/icons/garage.svg' %}" class="guest_amenties">
                        <figcaption class="guest_extra">parking</figcaption>
                      {% endif %}
                    </div>                                     
                  </div>
                </div><br>
                {% endif %}
              <p>
                {{listing.details_description}}
              </p>
            </div>
            
          </div><!-- .listing-section -->

          <div id="menu" class="listing-section bg-white hover-effect" data-matching-link="#menu-link">
            <div class="listing-section__header">
              {% if listing.is_active %}
              <h3 class="listing-section__title">Menu&nbsp;&nbsp;                
                  <span style="font-size: 10px;color: green">Book Early</span>
              </h3>                  
                {% else %} 
                <h3 class="listing-section__title">Menu&nbsp;&nbsp;                
                  <span style="font-size: 10px;color: red">Booking Closed</span>
                </h3>
                {% endif %}                
            </div><!-- .listing-section__header -->
            <ul class="min-list listing-menu">
              {% for bed in listing.beds.all %}
              <div class="row">
                <div class="col-lg-12">
                  <li class="listing-menu__item">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="listing-menu__item-left">
                        <h4 class="listing-menu__item-name">{{bed.title}}</h4>
                        <span class="c-gray listing-menu__item-gradients">{{bed.bed_category}}</span>
                      </div>

                      <div class="listing-menu__item-right">
                        <span class="c-secondary listing-menu__item-price">{{bed.bed_price}}</span><br>
                        {% if bed.available_beds > 0 %}
                            <span class="c-secondary listing-menu__item-price" style="font-size: 10px;color: green">  {{bed.available_beds}} Left
                            </span>
                        {% else %}
                            <span class="c-secondary listing-menu__item-price text-danger">sold</span>
                        {% endif %}
                      </div>
                    </div>
                  </li><!-- .listing-menu__item -->
                </div>
              </div>
              {% endfor %}

            </ul><!-- .listing-menu -->
          </div><!-- .listing-section -->
        
          <div id="gallery" class="listing-section bg-white hover-effect" data-matching-link="#gallery-link">
            <div class="listing-section__header">
              <h3 class="listing-section__title">Gallery</h3>
            </div><!-- .listing-section__header -->

            <div class="swiper-container listing-gallery-top">
              <div class="swiper-wrapper">
                {% for image in listing.listing_photos.all %}
                <div class="swiper-slide">
                  <img src="{{image.image.url}}" alt="Listing Image">
                </div>
                {% endfor %}

              </div><!-- .swiper-wrapper -->
              <span class="ion-chevron-left c-white listing-button listing-button-prev"></span>
              <span class="ion-chevron-right c-white listing-button listing-button-next"></span>
            </div><!-- .listing-gallery-top -->

            <div class="swiper-container listing-gallery-thumb">
              <div class="swiper-wrapper">
                {% for image in listing.listing_photos.all %}
                  <div class="swiper-slide is-selected">
                    <img src="{{image.image.url}}" alt="Listing Image">
                  </div>
                {% endfor %}
              </div><!-- .swiper-wrapper -->
            </div><!-- .listing-gallery-thumb -->
          </div><!-- .listing-section -->


         <div id="book-it" class="listing-section bg-white hover-effect" data-matching-link="#book-it-link">
            <div class="listing-section__header">
              <h3 class="listing-section__title">Booking</h3>
            </div><!-- .listing-section__header -->
            {% if request.user.is_authenticated %}
            <form  method="post">
              <div class="row">
                <div class="col-md-12">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                  <label>Bed Type</label> 
                                  <select class="form-control {% if form.booking_bed.errors %} is-invalid {% endif %}"
                                          id="is_booking_bed"
                                          name="booking_bed"
                                          required

                                  >
                                    {% for bed in beds%}
                                    <option value="{{bed.title}}">{{bed.title}} - Rs{{bed.bed_price}}
                                    </option>
                                    {% endfor %}
                                  </select>                                             
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                                <label> Number Of Guests</label>
                                                <input 
                                                       type="text" 
                                                       class="form-control {% if form.number_of_guests.errors %} is-invalid {% endif %}"
                                                       id="id_number_of_guests"
                                                       name="number_of_guests"
                                                       placeholder=""
                                                       value="{{form.number_of_guests.value|default:''}}"
                                                       required
                                                       />
                                                {% if form.number_of_guests.errors %}
                                                    <div class="invalid-feedback">
                                                        {{form.number_of_guests.errors}}
                                                    </div>
                                                {% endif %}                          
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                                <label>Booking Date</label>
                                                <input
                                                       required 
                                                       type="date" 
                                                       class="form-control {% if form.booking_date.errors %} is-invalid {% endif %}"
                                                       id="id_booking_date"
                                                       name="booking_date"
                                                       placeholder=""
                                                       value="{{form.booking_date.value|default:''}}"
                                                       />
                                                {% if form.booking_date.errors %}
                                                    <div class="invalid-feedback">
                                                        {{form.booking_date.errors}}
                                                    </div>
                                                {% endif %}                          
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">                        
                            <div class="form-group">
                                                <label>Checkin</label>
                                                <input 
                                                      required
                                                       type="time" 
                                                       class="form-control {% if form.booking_from.errors %} is-invalid {% endif %}"
                                                       id="id_booking_from"
                                                       name="booking_from"
                                                       placeholder=""
                                                       value="{{form.booking_from.value|default:''}}"
                                                       />
                                                {% if form.booking_from.errors %}
                                                    <div class="invalid-feedback">
                                                        {{form.booking_from.errors}}
                                                    </div>
                                                {% endif %}                          
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">  
                            <div class="form-group">
                                                <label>Checkout</label>
                                                <input 
                                                       type="time" 
                                                       class="form-control {% if form.booking_to.errors %} is-invalid {% endif %}"
                                                       id="id_booking_to"
                                                       name="booking_to"
                                                       placeholder=""
                                                       value="{{form.booking_to.value|default:''}}"
                                                       required
                                                       />
                                                {% if form.booking_to.errors %}
                                                    <div class="invalid-feedback">
                                                        {{form.booking_to.errors}}
                                                    </div>
                                                {% endif %}                          
                            </div>         
                            </div>
                          </div>                                                                
                        <input type="submit" name="" value="book" class="btn btn-lg login_btn btn-block">
                    </form>
                </div><!-- .col -->
              </div><!-- .row -->
            </form>
            {% else %}
              Please Login
            {% endif %}
          </div><!-- .listing-section -->
        </div><!-- .col -->
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                  <h6 class="card-title text-center">Contact Details</h6>
                  <div class="card-body">
                    <table>
                        <tr>
                          <td class="text-center"><i class="fa fa-user">&nbsp;{{listing.title}}</td>
                        </tr>
                        <tr>
                          <td class="text-center"><i class="fa fa-phone">&nbsp;{{listing.primary_contact_number}}</td>
                        </tr>
                        {% if listing.secondary_contact_number %}
                          <tr>
                            <td class="text-center"><i class="fa fa-phone">&nbsp;{{listing.secondary_contact_number}}</td>
                          </tr>
                        {% endif %}
                        {% if listing.website %}
                          <tr>
                            <td class="text-center"><i class="fa fa-chrome">&nbsp;{{listing.website}}</td>
                          </tr>
                        {% endif %}                        
                    </table>
                  </div>
              </div>
            </div>
            <div class="col-lg-12"></div>
            <div class="col-lg-12">
              <h6 class="text-danger text-center">Similar Hotels</h6>
              {% for listing in similar_listings %}
                    <div class="listing hover-effect bg-white">
                      <div class="listing__wrapper">
                        <div class="listing__thumbnail">
                          <a href="{% url 'guest_listing_detail' listing.pk %}">
                            <img src="{{listing.banner_image.url}}" alt="{{listing.title}}">
                            <span class="label label--primary">{{listing.listing_type}}</span>
                            <span class="favorite c-white">
                              <i class="fa fa-heart-o"></i>
                            </span>
                          </a>
                        </div><!-- .listing__thumbnail -->
                        <div class="listing__detail">
                          <h3 class="listing__title">
                            <a href="{% url 'guest_listing_detail' listing.pk %}">{{listing.title}}</a>
                          </h3>
                          <p class="listing__location c-dusty-gray">
                            <i class="fa fa-map-marker"></i>
                            {{listing.plat_number}},{{listing.area}},{{listing.city}}
                          </p>
                          <p class="listing__review c-dusty-gray">
                            <span class="stars-outer" data-rating="5">
                              <span class="stars-inner"></span>
                            </span>
                            <span>{{listing.listing_price}}</span>
                          </p>
                        </div><!-- .listing__detail -->
                      </div><!-- .listing__wrapper -->
                    </div><!-- .listing -->
                  {% endfor %}
            </div>
          </div>
        </div>
      </div><!-- .row -->
    </div>
  </div>
</section><!-- .single-listing -->
</div>
<!-- .page-content -->
<footer id="colophone" class="site-footer">
  <div class="t-center site-footer__primary">
    <div class="container">
      <div class="site-footer__logo">
        <a href="index.html">
          <h1 class="screen-reader-text">SoyoBnB</h1>
          <img src="assets/images/logo-footer.png" alt="SoyoBnB">
        </a>
      </div>
      <p class="t-small">SoyoBnB is making finding destination faster, easier, and customized for you.</p>
      <ul class="min-list inline-list site-footer__links site-footer__social">
        <li>
          <a href="#">
            <i class="fa fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-pinterest"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- .site-footer__primary -->

  <div class="site-footer__secondary">
    <div class="container">
      <div class="site-footer__secondary-wrapper">
        <p class="site-footer__copyright">&copy; 2019
          <span class="c-secondary">SoyoBnB</span>  All Rights Reserved.</p>
        <ul class="min-list inline-list site-footer__links site-footer__details">
          <li>
            <a href="tel:+0987654321">Tel: +098 765 4321</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- .site-footer__secondary -->
</footer><!-- #colophone -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
<script src="{% static 'assets/scripts/app.js' %}"></script>
</body>
</html>
