<header id="masthead" class="site-header site-header--fluid bg-soyo">
  <div class="d-lg-flex justify-content-lg-between align-items-lg-center site-header__container">
    <div class="d-lg-flex align-items-lg-center">
      <div class="site-header__logo">
        <a href="{% url 'guest_search_listings_view' %}">
          <h1 class="screen-reader-text">SoyoBnb</h1>
          <img src="assets/images/logo-1.png" alt="SoyoBnb">
        </a>
      </div><!-- .site-header__logo -->

      <form class="search-form" action="index.html">
        <div class="form-group__wrapper">
          <input type="text" name="place" placeholder="coffee shop, dinner..." class="form-input form-input--no-br">
        </div>
        <div class="form-group__wrapper">
          <input type="text" name="location" placeholder="location" class="form-input form-input--no-br">
          <a href="#" class="form-group__action c-dusty-gray">
            <i class="fa fa-map-marker"></i>
          </a>
        </div>
        <div class="form-group__wrapper">
          <button type="submit" class="button button--primary button--medium">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </div>

    <div class="d-lg-flex align-items-lg-center">
      {% if request.user.is_authenticated %}
      <ul class="min-list main-navigation main-navigation--white">
        <li>
          <a href="{% url 'guest_bookings' %}">Bookings</a>          
        </li>
        <li>
          <a href="{% url 'guest_logout_view' %}">Signout</a>
        </li>
      </ul><!-- .main-navigation -->
      {% else %}
      <div class="user-action">
        <a href="{% url 'guest_login_view' %}" class="sign-in c-white">
          <i class="fa fa-user"></i>
          Sign in
        </a>
      {% endif %}
        <button class="button button--small button--pill button--primary d-none d-lg-inline-block">&plus; Become A Host</button>
      
      </div><!-- .user-action -->
    </div>

    <div class="d-lg-none nav-mobile">
      <a href="#" class="nav-toggle js-nav-toggle nav-toggle--white">
        <span></span>
      </a><!-- .nav-toggle -->
    </div><!-- .nav-mobile -->
  </div><!-- .site-header__container -->
</header><!-- #masthead -->