{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SoyoBnB</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,600" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://efrolicss.com/assets/css/dist/efrolic.min.css">  
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <style type="text/css">
    .text-danger{
      color: #f44336;
    }
    .area_photo{
      width: 100%;
      height: 100%;
    }
    .text_white{
      color: #ffffff;
    }
    .text-green{
      color: #1B5E20;
    }
    .bg-soyo{
      background-color: red;
      color: white;
    }
  </style>    
</head>

<body>
{% include 'guest/guest_header.html' %} 
<section class="category-container page-section bg-wild-sand category--layout-1">
  <div class="container">
    <h2 class="page-section__title t-center">My Bookings</h2><br>
    <div class="row">
        {% for booking in upcoming_bookings %}
        <div class="col-lg-12 e-box">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="border-right: 1px solid #f0f0f0;">
                Hotel: &nbsp;{{booking.booking_listing}}<br>
                Id : &nbsp;{{booking.booking_id_num}}
              </div>              
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="border-right: 1px solid #f0f0f0;">
                Date:&nbsp;{{booking.booking_date}}<br/>
                Checkin:&nbsp;{{booking.booking_from}}<br/>
                Checkout:&nbsp;{{booking.booking_to}}
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="border-right: 1px solid #f0f0f0;">
                 <a href="{% url 'guest_cancel_booking' booking.pk %}" class="e-btn plane danger" style="text-decoration: none;"> Cancel Booking</a>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="border-right: 1px solid #f0f0f0;">
                  <a href="" class="e-btn plain info" style="text-decoration: none;">Get Assistance</a>
              </div>              
            </div>           
        </div>      
        {% endfor %}
    </div><!-- .row -->

    <div class="row">
        <div class="col-lg-12">
          Cancel Bookings
        </div>
        {% for booking in cancled_bookings %}
        <div class="col-lg-12 e-box">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="border-right: 1px solid #f0f0f0;">
                Hotel: &nbsp;{{booking.booking_listing}}<br>
                Id : &nbsp;{{booking.id}}
              </div>              
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="border-right: 1px solid #f0f0f0;">
                Date:&nbsp;{{booking.booking_date}}<br/>
                Checkin:&nbsp;{{booking.booking_from}}<br/>
                Checkout:&nbsp;{{booking.booking_to}}
              </div>
                          
            </div>           
        </div>      
        {% endfor %}
    </div><!-- .row -->    
  </div><!-- .container -->
</section><!-- .category -->

{% include 'guest/guest_footer.html' %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>
<script src="{% static 'assets/scripts/app.js' %}"></script>
</body>
</html>