{% load static %}

<!DOCTYPE html>
<html lang="en" dir="auto">
    <head>

  <title>Explosion of transparency | eFrolic : CSS framework which without using JavaScript is interactive and animated.</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="152x152" href="https://efrolicss.com/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://efrolicss.com/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://efrolicss.com/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="https://efrolicss.com/assets/images/favicon/manifest.json">
  <link rel="mask-icon" href="https://efrolicss.com/assets/images/favicon/safari-pinned-tab.svg" color="#1da1f2">
  <link rel="shortcut icon" href="https://efrolicss.com/assets/images/favicon/favicon.ico">


  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Links -->
  <link rel="canonical" href="https://efrolicss.com/face/m">
  <link rel="stylesheet" href="https://efrolicss.com/assets/css/dist/efrolic.min.css">
  <link rel="stylesheet" href="https://efrolicss.com/assets/css/styles.css?v=201908021612">
  <link rel="stylesheet" href="https://efrolicss.com/assets/css/syntax.css">
  <link rel="stylesheet" href="https://efrolicss.com/assets/css/normalize.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script type="text/javascript" src="https://efrolicss.com/assets/js/main.js"></script>


  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128059642-1"></script>
  <script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128059642-1');
  </script>
</head>

  <body class="eFade bg " ontouchstart>
    <main class="e-face e-fullscreen" style="background: url('{{ STATIC_URL }}assets/image/bg/bg.jpg') no-repeat;">

  <!-- Body -->
  <section class="face-body centered eUp">
    <div class="e-container">
      <h1 class="size-plus">Explosion of transparency </h1>
      <a class="e-btn outlined transparent plus">Get started</a>
      <a class="e-btn outlined transparent plus">Portfolio</a><br>
    </div>
  </section>
  <div class="e-col-2 centered">
    <a class="e-btn circle transparent plus"><i class="fas fa-angle-down"></i></a>
  </div>
</main>

<div class="container-white">
  

</div>

  </body>
</html>
