{% load static %}
{% load user_agents %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SoyoBnB</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,600" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
    <link rel="stylesheet" href="https://efrolicss.com/assets/css/dist/efrolic.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <style type="text/css">
    .text-danger{
      color: #f44336;
    }
    .area_photo{
      width: 100%;
      height: 100%;
    }
    .text_white{
      color: #ffffff;
    }
    .text-green{
      color: #1B5E20;
    }
    .bg-soyo{
      background-color: red;
    }
    .soyo_help_btn{
      background-color: darkorange;
      color:white;
      border-radius: 25px;
    }
    .soyo_cancel_btn{
      background-color: red;
      color: white;
      border-radius: 25px;
    }
  </style>    
</head>

<body>
{% include 'guest/guest_header.html' %} 
<section class="page-banner page-banner--layout-1 parallax" style="background-image: url('{% static "assets/images/header2.jpg" %}');">
  <div class="container">
    <div class="page-banner__container animated fadeInUp">
      <div class="page-banner__textcontent t-center">
        <h2 class="page-banner__title c-white text-danger">Explore City Gems</h2>
        <p class="page-banner__subtitle c-white">Find the best places to relax.</p>
      </div><!-- .page-banner__textcontent -->

      <div class="main-search-container">
        <form class="main-search main-search--layout-1 bg-mirage" method="get" action="{{search_url}}">          
          <div class="main-search__group main-search__group--secondary">

            <label for="main-search-location" class="c-white">Checkin Date</label>
            <input value="{{search_form.checkin_date.value|default:''}}" 
                   type="date" 
                   name="checkin_date" 
                   id="id_checkin_date" 
                   class="form-input" 
                   >
          </div><!-- .main-search__group -->
          <div class="main-search__group main-search__group--secondary">
            <label for="main-search-location" class="c-white">Checkin Time</label>
            <input value="{{search_form.checkin_time.value|default:''}}" 
                   type="time" 
                   name="checkin_time" 
                   id="id_checkin_time" 
                   class="form-input" 
                   >
          </div><!-- .main-search__group --> 
          <div class="main-search__group main-search__group--secondary">
            <label for="main-search-location" class="c-white">Checkout Time</label>
            <input value="{{search_form.check_out_time.value|default:''}}" 
                   type="time" 
                   name="check_out_time" 
                   id="id_check_out_time" 
                   class="form-input" 
                   >
          </div><!-- .main-search__group -->                               
          <div class="main-search__group main-search__group--tertiary">
            <button type="submit" class="button button--medium button--square button--primary">
              <i class="fa fa-search"></i> Search
            </button>
          </div>
        </form>
      </div><!-- .main-search-container -->
    </div><!-- .page-banner__container -->
  </div><!-- .container -->
</section><!-- .page-banner -->
{% if is_upcoming_bookings %}
<section class="category-container page-section bg-white category--layout-1">
  <div class="container">
    <div class="box">
      <h6 class="page-section__title t-center" style="font-size:15px;">Your Hosting is </h6><br>
      <div class="row" style="margin-left:0px;">
          {% if request|is_mobile %}
            {% for booking in upcoming_bookings %}
            <div class="col-lg-12" >
              <table style="margin-left: 10%;">
                <tr style="border-bottom: 0px;">
                <td>Hosting</td>
                <td>{{booking.booking_listing}}</td>
              </tr>
              <tr style="border-bottom: 0px;">
                <td>Booking Date</td>
                <td>{{booking.booking_date}} </td>
              </tr>                
              </table>
              &nbsp;&nbsp;&nbsp;&nbsp;<a class="e-btn soyo_help_btn">Soyo Assistence</a> &nbsp;&nbsp; 
              <a class="e-btn soyo_cancel_btn" href="{% url 'guest_cancel_booking' booking.pk %}">Cancel Booking</a>
            </div>
            {% endfor %}
          {% else %}
            <table>
              {% for booking in upcoming_bookings %}
              <tr>
                <td>Hosting: {{booking.booking_listing}}</td>
                <td>Booking Date:{{booking.booking_date}} </td>
                <td><a class="e-btn soyo_help_btn">Soyo Assistence</a> </td>
                <td> <a class="e-btn soyo_cancel_btn" href="{% url 'guest_cancel_booking' booking.pk %}">Cancel Booking</a></td>
              </tr>
              {% endfor %}
            </table>
          {% endif %}
        </div>
    </div>
  </div>
</section>
{% else %}
{% endif %}
<section class="category-container page-section bg-wild-sand category--layout-1">
  <div class="container">
    <h2 class="page-section__title t-center">What do you need to find?</h2>
    <div class="row">
      {% for area in areas %}
      <div class="col-6 col-md-3">
        <div class="category hover-effect t-center">
          <a href="{% url 'guest_area_listings' area.pk %}">
            <div class="card">
              <img src="{% static 'assets/images/hotel.svg' %}" alt="{{area.area_name}}">
              <!-- <img src="{% if area.area_photo %}{{area.area_photo.url}}{% else %}{% static 'assets/images/hotel.svg' %}{% endif %}" > -->
            </div>
            <h3 class="category__title">{{area.area_name}}</h3>
          </a>
        </div>
      </div><!-- .col -->
      {% endfor %}
      <div class="col-6 col-md-3">
        <div class="category hover-effect t-center">
          <a href="{% url 'guest_search_listings_view' %}">
            <div class="">
              <img src="{% static 'assets/images/hotel.svg' %}" alt="indiranagar">
            </div>
            <h3 class="category__title">Explore All Areas</h3>
          </a>
        </div>
      </div><!-- .col -->      

    </div><!-- .row -->
  </div><!-- .container -->
</section><!-- .category -->
<section class="listing-list page-section listing-list--layout-1">
  <div class="container">
    <h2 class="page-section__title t-center">Great Places</h2>
    <div class="row">
      {% for listing in listings %}
      <div class="col-md-4">
        <div class="listing hover-effect">
          <div class="listing__wrapper">
            <div class="listing__thumbnail">
              <a href="{% url 'guest_listing_detail' listing.pk %}">
                <img src="{{listing.banner_image.url}}" alt="{{listing.title}}">
                <span class="label label--primary">{{listing.listing_type}}</span>
                <span class="favorite c-white">
                  <i class="fa fa-heart-o"></i>
                </span>
              </a>
            </div><!-- .listing__thumbnail -->
            <div class="listing__detail">
              <h3 class="listing__title">
                <a href="{% url 'guest_listing_detail' listing.pk %}">{{listing.title}}</a>
              </h3>
              <p class="listing__location c-dusty-gray">
                <i class="fa fa-map-marker"></i>
                {{listing.plat_number}},{{listing.area}},{{listing.city}}
              </p>
              <p class="listing__review c-dusty-gray">
                <span class="stars-outer" data-rating="5">
                  <span class="stars-inner"></span>
                </span>
                <span>{{listing.listing_price}}</span>
              </p>
            </div><!-- .listing__detail -->
          </div><!-- .listing__wrapper -->
        </div><!-- .listing -->
      </div><!-- .col -->
      {% endfor %}

    </div><!-- .row -->
    <div class="t-center load-more">
      <button class="button button--primary button--medium button--pill">View All Listing</button>
    </div>
  </div><!-- .container -->
</section><!-- .listing-list -->
<section class="instructions-container page-section bg-wild-sand instruction--layout-1">
  <div class="container">
    <h2 class="page-section__title t-center">Easy to Get Services</h2>
    <div class="row">
      <div class="col-md-4 instruction-container">
        <div class="instruction t-center">
          <span class="instruction__step c-dove-gray">01.</span>
          <h3 class="instruction__title">Choose What to Do</h3>
          <p class="instruction__detail c-boulder">
            Looking for a cozy hotel to stay, a restaurant to eat, a museum to visit or a mall to do some shopping?
          </p>
        </div><!-- .instruction -->
      </div><!-- .col -->

      <div class="col-md-4 instruction-container">
        <div class="instruction t-center">
          <span class="instruction__step c-dove-gray">02.</span>
          <h3 class="instruction__title">Find What You Want</h3>
          <p class="instruction__detail c-boulder">
            Search and filter hundreds of listings, read reviews, explore photos and find the perfect spot.
          </p>
        </div><!-- .instruction -->
      </div><!-- .col -->

      <div class="col-md-4 instruction-container">
        <div class="instruction t-center">
          <span class="instruction__step c-dove-gray">03.</span>
          <h3 class="instruction__title">Explore Amazing Places</h3>
          <p class="instruction__detail c-boulder">
            Go and have a good time or even make a booking directly from the listing page. All of those, thanks!
          </p>
        </div><!-- .instruction -->
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
</section><!-- .instruction-container -->
<section class="page-section testimonials-container testimonial--layout-1">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="testimonials">
          <h2 class="page-section__title">25,000+ Happy Clients</h2>
          <div class="swiper-container testimonial-container">
            <div class="swiper-wrapper testimonial-wrapper">
              <div class="swiper-slide testimonial">
                <p class="testimonial-content c-dove-gray">
                  dummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test here
                </p>
                <div class="testimonial-footer">
                  <div class="testimonial-avatar">
                    <img src="{% static 'assets/images/uploads/testimonial-avatar.png' %}"
                    class="Client Avatar"
                    alt="Testimonial Image"
                    >
                  </div>

                  <div class="testimonial-client">
                    <span class="testimonial-client-name">- Roberta V</span>
                    <span class="testimonial-client-location">India</span>
                  </div>
                </div><!-- .testimonial-footer -->
              </div><!-- .testimonial -->

              <div class="swiper-slide testimonial">
                <p class="testimonial-content c-dove-gray">
                  dummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test here
                </p>
                <div class="testimonial-footer">
                  <div class="testimonial-avatar">
                    <img
                      src="{% static 'assets/images/uploads/testimonial-avatar.png' %}"
                      class="Client Avatar" alt="Testimonial Image"
                    >
                  </div>

                  <div class="testimonial-client">
                    <span class="testimonial-client-name">- Roberta V</span>
                    <span class="testimonial-client-location">India</span>
                  </div>
                </div><!-- .testimonial-footer -->
              </div><!-- .testimonial -->

              <div class="swiper-slide testimonial">
                <p class="testimonial-content c-dove-gray">
                  dummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test heredummy test here
                </p>
                <div class="testimonial-footer">
                  <div class="testimonial-avatar">
                    <img
                      src="{% static 'assets/images/uploads/testimonial-avatar.png' %}"
                      class="Client Avatar" alt="Testimonial Image"
                    >
                  </div>

                  <div class="testimonial-client">
                    <span class="testimonial-client-name">- Roberta V</span>
                    <span class="testimonial-client-location">India</span>
                  </div>
                </div><!-- .testimonial-footer -->
              </div><!-- .testimonial -->
            </div><!-- .testimonial-wrapper -->

          </div><!-- .testimonial-container -->
        </div><!-- .testimonials -->
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
</section><!-- .testimonial -->
<section class="ads ads--layout-1 parallax">
  <div class="t-center ads__container">
    <div class="container">
      <h2 class="ads__title text-danger">Explore exciting destinations</h2>
      <p class="ads__subtitle text-green">
        Preparing for your traveling is very important. dummy test heredummy test heredummy test heredummy test here
      </p>
    </div>
  </div>
</section><!-- .ads -->
<section class="news page-section news--layout-1">
  <div class="container">
    <h2 class="page-section__title t-center">Tips &amp; Articles</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="post sticky">
          <div class="post-thumbnail">
            <a href="single.html">
              <img src="{% static 'assets/images/uploads/news-1.jpg' %}" alt="Sa Pa festival for next month">
            </a>
          </div><!-- .post-thumbnail -->

          <div class="post-content">
            <h3 class="post-title">
              <a href="single.html">Sa Pa festival for next month</a>
            </h3>
            <p class="post-meta t-small">
              <span><a href="#" class="c-dusty-gray">Dec 05, 2017</a></span>
              <span><a href="#" class="c-dusty-gray">Restaurant</a></span>
            </p>
          </div><!-- .post-content -->
        </div><!-- .post -->
      </div><!-- .col -->

      <div class="col-md-4">
        <div class="post">
          <div class="post-thumbnail">
            <a href="single.html">
              <img src="{% static 'assets/images/uploads/news-2.jpg' %}" alt="Italy culinary festival kicks off">
            </a>
          </div><!-- .post-thumbnail -->

          <div class="post-content">
            <h3 class="post-title">
              <a href="single.html">Italy culinary festival kicks off</a>
            </h3>
            <p class="post-meta t-small">
              <span><a href="#" class="c-dusty-gray">Dec 05, 2017</a></span>
              <span><a href="#" class="c-dusty-gray">Travel</a></span>
            </p>
          </div><!-- .post-content -->
        </div><!-- .post -->
      </div><!-- .col -->

      <div class="col-md-4">
        <div class="post">
          <div class="post-thumbnail">
            <a href="single.html">
              <img src="{% static 'assets/images/uploads/news-3.jpg' %}" alt="Best destination for travelers">
            </a>
          </div><!-- .post-thumbnail -->

          <div class="post-content">
            <h3 class="post-title">
              <a href="single.html">Best destination for travelers</a>
            </h3>
            <p class="post-meta t-small">
              <span><a href="#" class="c-dusty-gray">Dec 05, 2017</a></span>
              <span><a href="#" class="c-dusty-gray">Culture</a></span>
            </p>
          </div><!-- .post-content -->
        </div><!-- .post -->
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
</section><!-- .news -->
{% include 'guest/guest_footer.html' %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>
<script src="{% static 'assets/scripts/app.js' %}"></script>
</body>
</html>