
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SoyoBnB</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,600" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
  <link rel="stylesheet" href="https://efrolicss.com/assets/css/dist/efrolic.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <style type="text/css">
  .bg-soyo{
      background-color: red;
    }
  </style>
</head>

<body>
{% include 'guest/guest_header.html' %} 
<div class="listing-header-bg" style="background-image: url('{% static "assets/images/header2.jpg" %}');"></div>
<div class="page-content page-content--no-t-bottom">
  <div class="container">
  <div class="row">
    <div class="col-md-12 listing-search-container">
      <div class="listing-keyword">
        Suggestions for Stays near Bangalore
      </div><!-- .listing-keyword -->

      <div class="listing-search bg-white">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
          <div class="listing-filter-container">
            <div class="d-lg-flex">             
              <ul class="min-list inline-list listing-filter listing-filter--list">
                <li class="">
                  <a href="#">
                    <i class="fa fa-bed"></i>
                    Bed
                  </a>
                </li>
                <li class="">
                  <a href="#">
                    <i class="fa fa-shower"></i>
                    Bath
                  </a>
                </li>
                <li class="">
                  <a href="#">
                    <i class="fa fa-lock"></i>
                    Locker
                  </a>
                </li>
                <li class="">
                  <a href="#">
                    <i class="fa fa-cubes"></i>
                    Show me All
                  </a>
                </li>                                                
                <li>
                  <a href="#" class=" js-expand">
                    More filter
                    <i class="fa fa-angle-down"></i>
                  </a>                  
                </li>                
              </ul><!-- .listing-filter -->
            </div><!-- d-flex -->
          </div><!-- .listing-filter-container -->

          <ul class="min-list inline-list listing-sort">
            <li>
              <a href="#" class="is-active">
                <i class="fa fa-th-large"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-list"></i>
              </a>
            </li>
          </ul><!-- .listing-sort -->
        </div><!-- .d-md-flex -->
      </div><!-- .listing-search -->
      <div class="listing-more-filter bg-wild-sand">
        <div class="listing-more-filter__inner">
          <form method="get">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label for="sel1">Class</label>
                    <select class="e-control" id="sel1" name="listing_econamy">
                      <option value="Econamy">Econamy</option>
                      <option value="Business">Business</option>
                      <option value="General">General</option>
                    </select>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label for="sel1">Gender</label>
                    <select class="e-control" id="sel1" name="gender">
                      <option value="female">Female</option>
                      <option value="male">Male</option>
                      <option value="all">All</option>
                    </select>
                  </div>
              </div>              
            </div>
          <input type="submit" name="" value="filter">
        </form>
        </div>
      </div><!-- .listing-more-filter -->
      <span class="c-dusty-gray">Showing <span class="c-primary">1-6</span> of <span class="c-primary">60</span> items
      </span>
    </div><!-- .listing-search-container -->
  </div><!-- .row -->
</div><!-- .container -->

<section class="listing-list listing-list--layout-1">
  <div class="container">
    <div class="row">
      {% for listing in listings %}
      <div class="col-lg-4">
        <div class="card">
          <div class="listing hover-effect">
            <div class="listing__wrapper">
              <div class="listing__thumbnail">
                <a href="{% url 'guest_listing_detail' listing.pk %}">
                  <img src="{{listing.banner_image.url}}" alt="April Boutique Coffee">
                  <span class="label label--primary">{{listing.listing_type}}</span>
                  <span class="favorite c-white">
                    <i class="fa fa-heart-o"></i>
                  </span>
                </a>
              </div><!-- .listing__thumbnail -->
              <div class="listing__detail">
                <h3 class="listing__title">
                  <a href="{% url 'guest_listing_detail' listing.pk %}">{{listing.title}}</a>
                </h3>
                <p class="listing__location c-dusty-gray">
                  <i class="fa fa-map-marker"></i>
                  {{listing.plat_number}},{{listing.area}},{{listing.city}}
                </p>
                <p class="listing__review c-dusty-gray">
                  <div class="row">
                    <div class="col">
                      <a class="e-btn plane inverted danger">Rs-{{listing.price_range}}
                      </a> 
                      <a class="e-btn plane inverted success">Book It Now
                      </a>                                          
                    </div>
                  </div>
                </p>
              </div><!-- .listing__detail -->
            </div><!-- .listing__wrapper -->
          </div><!-- .listing -->
        </div>
      </div><!-- .col -->
      {% endfor %}

    </div><!-- .row -->
  </div><!-- .container -->
</section><!-- .listing-list -->
</div>
<!-- .page-content -->
{% include 'guest/guest_footer.html' %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>
<script src="{% static 'assets/scripts/app.js' %}"></script>
</body>
</html>
