{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SoyoBnB</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,600" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://efrolicss.com/assets/css/dist/efrolic.min.css">  
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <style type="text/css">
    .text-danger{
      color: #f44336;
    }
    .area_photo{
      width: 100%;
      height: 100%;
    }
    .text_white{
      color: #ffffff;
    }
    .text-green{
      color: #1B5E20;
    }
    .bg-soyo{
      background-color: red;
      color: white;
    }
  </style>    
</head>

<body>
{% include 'guest/guest_header.html' %} 
<section class="category-container page-section bg-white category--layout-1">
  	<div class="container">
    <h2 class="page-section__title t-center">Booking Details</h2><br>
    	<div class="row">
    		<div class="col-lg-3"></div>
    		<div class="col-lg-4">

    			<div class="row">
    				<div class="col-lg-12">Hotel: {{booking_data.listing}}</div>
    				<div class="col-lg-12">Guest: {{booking_data.primary_person}}</div>
    				<div class="col-lg-12">Bed: {{booking_data.booking_bed}}</div>
    				<div class="col-lg-12">Date: {{booking_data.booking_date}}</div>
    				<div class="col-lg-12">Time: {{booking_data.checkin_time}}</div>
    				<div class="col-lg-12">Amount:{{booking_data.total_price}}</div>
    			</div>
    			<div class="row">
	    			<div class="col">
						<form method="post" action="https://securegw-stage.paytm.in/theia/process" name="f1">
							{% for key,value in paytmdict.items %}
	    						<input type="hidden" name="{{key}}" value="{{value}}">
							{% endfor %}						
							<input type="submit" name="" value="Pay Now" class="e-btn outlined success fullwidth">
						</form>    				
	    			</div>
	    			<div class="col">
	    				<a class="e-btn outlined danger fullwidth" href="{% url 'guest_pay_at_host' %}" style="text-decoration: none;">Pay at Host</a>
	    			</div>	    			
	    		</div>
    		</div>
    	</div>
	</div>
</section>
</html>