<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>SoyoBnB</title>
	<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" />
  	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
  	<style type="text/css">
  		.login_btn{
  			background-color: #e65100;
  			color:#fff;
  		}
  		.signup_btn{
  			color: #e65100;
  		}
  		.login_box{

  		}
      a:hover{
        text-decoration: none;
      }
  		html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

  	</style>

</head>
<body class="text-center">
    <form class="form-signin" method="post">
    	{% csrf_token %}
      <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
                         {% csrf_token %}
                            <div class="form-group">
                                            <input 
                                                   type="text" 
                                                   class="form-control {% if form.first_name.errors %} is-invalid {% endif %}"
                                                   id="id_first_name"
                                                   name="first_name"
                                                   placeholder="Enter First Name"
                                                   value="{{form.first_name.value|default:''}}"
                                                   />
                                            {% if form.first_name.errors %}
                                                <div class="invalid-feedback">
                                                    {{form.first_name.errors}}
                                                </div>
                                            {% endif %}

                            </div>    

                             <div class="form-group">
                                            <input 
                                                   type="text" 
                                                   class="form-control {% if form.last_name.errors %} is-invalid {% endif %}"
                                                   id="id_last_name"
                                                   name="last_name"
                                                   placeholder="Enter Last Name"
                                                   value="{{form.last_name.value|default:''}}"
                                                   />
                                            {% if form.last_name.errors %}
                                                <div class="invalid-feedback">
                                                    {{form.last_name.errors}}
                                                </div>
                                            {% endif %}

                            </div>
                            <div class="form-group">
                                            <input 
                                                   type="email" 
                                                   class="form-control {% if form.email_id.errors %} is-invalid {% endif %}"
                                                   id="id_email_id"
                                                   name="email_id"
                                                   placeholder="Enter Email Address"
                                                   value="{{form.email_id.value|default:''}}"
                                                   />
                                            {% if form.email.errors %}
                                                <div class="invalid-feedback">
                                                    {{form.email.errors}}
                                                </div>
                                            {% endif %}

                            </div>                        
                            <div class="form-group">
                                            <input 
                                                   type="text" 
                                                   class="form-control {% if form.mobile_number.errors %} is-invalid {% endif %}"
                                                   id="id_mobile_number"
                                                   name="mobile_number"
                                                   placeholder="Enter Mobile Number"
                                                   value="{{form.mobile_number.value|default:''}}"
                                                   />
                                            {% if form.mobile_number.errors %}
                                                <div class="invalid-feedback">
                                                    {{form.mobile_number.errors}}
                                                </div>
                                            {% endif %}

                            </div>                             

                                        <div class="form-group">
                                            <input 
                                                   type="password" 
                                                   class="form-control {% if form.password.errors %} is-invalid {% endif %}"
                                                   id="id_password"
                                                   name="password"
                                                   placeholder="Enter Password"
                                                   value="{{form.password.value|default:''}}"
                                                   />
                                            {% if form.password.errors %}
                                                <div class="invalid-feedback">
                                                    {{form.password.errors}}
                                                </div>
                                            {% endif %}

                                        </div>
      <button class="btn btn-lg login_btn btn-block" type="submit">Signup</button><br>
      Already Have an Account <a class="signup_btn" href="{% url 'guest_login_view' %}"><span style="color: green">Login Here</span></a>
      <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
    </form>
  </body>
</html>