{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'assetsa/landing/css/bootstrap.css' %}" />
<link href="{% static 'assetsa/css/efrolic.min.css' %}" rel="stylesheet">  
<style type="text/css">
	.soyo_bg{
		background-color: darkorange;
		color: white;
	}
</style>
{% endblock %}
{% block app_block %}
<div  class="e-container" style="margin-top: 25vh">
    <div class="e-cols centered">
        <div class="e-col-4">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <button class="e-btn  soyo_bg fullwidth" type="submit">Login</button>
                    </form>            
        </div>
    </div>
</div>
{% endblock %}