{% load static %}
            <!-- header-->
            <header>
                <!-- header-top-->
                <div class="">
                    <div class="container">
                        <div class="logo-holder">
                            <a href="">SoyoBnB</a>
                        </div>
                        <a href="dashboard-add-listing.html" class="add-hotel">Add Your Hotel <span><i class="far fa-plus"></i></span></a>                     
                        
                    </div>
                </div>
            </header>
            <!--  header end -->