{% load static %}
<script type="text/javascript" src="{% static 'assetsa/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assetsa/js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'assetsa/js/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'assetsa/js/map-single.js' %}"></script>
