{% load static %}
 <link type="text/css" rel="stylesheet" href="{% static 'assetsa/css/reset.css' %}">
 <link type="text/css" rel="stylesheet" href="{% static 'assetsa/css/plugins.css' %}">
 <link type="text/css" rel="stylesheet" href="{% static 'assetsa/css/style.css' %}">
 <link type="text/css" rel="stylesheet" href="{% static 'assetsa/css/color.css' %}">

