{% load static %}
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		{% include 'includes/styles.html' %}
		{% block extra_style %}
		{% endblock %}
		<title>{% block title_block %}SoyoBnB{% endblock %}</title>
	</head>
	<body style="background-color: white;">
		<!--loader-->
        <!-- Main  -->
			{% block app_block %}
			{% endblock %}


		{% include 'includes/nav_bar.html' %}
	
		{% include 'includes/scripts.html' %}
		{% block extra_script %}
		{% endblock %}		
	</body>
</html>
