{% load static %}
<!DOCTYPE html>
<html lang="en" dir="auto">
    <head>

  <title>SoyoBnB</title>


  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Links -->
  <link rel="stylesheet" href="{% static 'assetsa/landing/css/bootstrap.css' %}" />
  <link rel="stylesheet" href="https://efrolicss.com/assets/css/dist/efrolic.min.css">
  <link rel="stylesheet" href="https://efrolicss.com/assets/css/styles.css?v=201908021612">
  <link rel="stylesheet" href="https://efrolicss.com/assets/css/syntax.css">
  <link rel="stylesheet" href="https://efrolicss.com/assets/css/normalize.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script type="text/javascript" src="https://efrolicss.com/assets/js/main.js"></script>
  <!-- <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}"> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128059642-1"></script>
  <script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128059642-1');
  </script>
  <style type="text/css">
                label[for="toggle"] {
  z-index: 1;
  cursor: pointer;
  padding: 10px;
       
}
 label[for="toggleFilter"] {
  z-index: 1;
  cursor: pointer;
  padding: 10px;
       
}
#toggle {
  display: none;
}
 #toggleFilter {
  display: none;
}

.sliding-panel {
  display: flex;
}

.return-arrow {
  width: 20px;
}

.help-text {
  padding: 35px 15px 10px;
}

aside {
  
  margin-top: 150px;
  width: 240px;
  padding: 0;
  position: fixed;
  top: 0;
  height: 80vh;
  right: -330px;
  position: absolute;
  background-color: aliceblue;    
  transition: 0.6s all;
}

#toggle:checked + aside {
  right: 0px;
}
#toggleFilter:checked + aside {
  right: 0px;
}            

.host_navbar{
  background-color: darkorange;

}
.host_navbar_item{
  color: white;
  background-color: darkorange;
}
            label[for="toggle"] {
  z-index: 1;
  cursor: pointer;
  padding: 10px;
       
}
 label[for="toggleFilter"] {
  z-index: 1;
  cursor: pointer;
  padding: 10px;
       
}
#toggle {
  display: none;
}
 #toggleFilter {
  display: none;
}

.sliding-panel {
  display: flex;
}

.return-arrow {
  width: 20px;
}

.help-text {
  padding: 35px 15px 10px;
}
.host_location{
  width: 30px;
  height: 50px;
  /*padding-top:30px;*/
  margin-top: 20px;
}
.host_listing_header{
  border-right: 1px solid #f0f0f0;
}
.host_listing_header_text{
  font-size: 15px;
  color: #606c88;
}
.file-upload-wrapper {
  $defaultColor: #4daf7c;
  $height: 60px;
  
  position: relative;
  width: 100%;
  height: $height;
  
  &:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: $height - 20px;
    line-height: $height - 20px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
  }
  
  &:before {
    content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 60px;
    background: $defaultColor;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: $height;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
  }
  
  &:hover {
    &:before {
      background: darken($defaultColor, 10%);
    }
  }
   input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: $height - 20px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }
}
.host_bed_btn{
  padding-left: 15px;
}
.host_bed_detail{
  padding-top: 50px;
}
aside {
  
  margin-top: 150px;
  width: 240px;
  padding: 0;
  position: fixed;
  top: 0;
  height: 80vh;
  right: -330px;
  position: absolute;
  background-color: aliceblue;    
  transition: 0.6s all;
}

#toggle:checked + aside {
  right: 0px;
}
#toggleFilter:checked + aside {
  right: 0px;
}         
.no_border_table{
  border: 0px;
}   
.soyo_btn{
  background-color: red;
  color: white;
}
.data{
  margin: 0 auto;
  padding-top: 30%;
}
</style>

</head>

  <body class="eFade" ontouchstart>
    <nav class="e-nav  fixed host_navbar">
  <label for="e-sidenav" class="e-btn small circle host_navbar_item mr-3"><i class="fas fa-bars"></i></label>
  <a href="{% url 'host_dashboard' %}" style="color: white;text-decoration: none;">Dashboard</a>
  <label for="e-menu" class="e-btn small circle dark no-desktop"><i class="fas fa-th"></i></label>
  <input type="checkbox" id="e-menu">
  <div class="e-menu ">
    <i class="e-distribution"></i>
    <a class="e-menu-item host_navbar_item text-white" href="{% url 'host_contact_us' %}" style="text-decoration: none;">Contact</a>
  </div>
  <style type="text/css">
    .no_underline{
      text-decoration: none;
    }
  </style>
</nav>

<!-- Sidenav -->
<input type="checkbox" id="e-sidenav">
<div class="e-cap cap-sidenav">
<div class="e-sidenav dark">

  <div class="sidenav-brand">
    <img src="">
  </div>
  <p class="sidenav-label">Listings</p>
  <a class="sidenav-item no_underline" href="{% url 'host_listing_lists_view' %}" style="text-decoration: none;">
    My Listings
  </a>  

  <p class="sidenav-label">Bookings</p>
  <a class="sidenav-item no_underline" style="text-decoration: none;" href="{% url 'host_current_bookings' %}">
    Current Bookings
  </a>
  <a class="sidenav-item" style="text-decoration: none;" href="{% url 'host_past_bookings' %}">
    Past Bookings
  </a>
  <p class="sidenav-label">Profile</p>
  <a class="sidenav-item no_underline" style="text-decoration: none;" href="{% url 'host_profile'%}">
    My Profile
  </a>
  <a class="sidenav-item" style="text-decoration: none;" href="{% url 'host_update_profile' request.user.host.pk %}">
    Update Profile
  </a>
  <a class="sidenav-item" style="text-decoration: none;" href="{% url 'host_logout_view' %}">
    Logout
  </a>
</div>
<!-- Layer of the body to hide again -->
<label for="e-sidenav" class="e-cap sidenav-hidden"></label>
</div>
<!-- End Sidenav -->
<br><br>
<div class="container" style="margin-top: 3%;">
  {% block host_content %}
  {% endblock %}
</div>
  </body>
</html>
