{% extends 'host_base.html' %}
{% load crispy_forms_tags %}
{% block host_content %}
<div class="container" style="padding: 0px;margin:0px;">
	<div class="row" style="margin-top: 2%;">
		<div class="col-lg-12" style="padding: 0px;">
			<div class="row">
				<div class="col-lg-12">
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row">
							<div class="col">
								{{form.bank_name|as_crispy_field}}
							</div>
							<div class="col">
								{{form.bank_account_number|as_crispy_field}}
							</div>
						</div>
						<div class="row">
							<div class="col">
								{{form.bank_account_holder|as_crispy_field}}
							</div>
							<div class="col">
								{{form.bank_ifsc_code|as_crispy_field}}
							</div>														
						</div>
						<div class="row">
							<div class="col"></div>
							<div class="col">
								<input type='submit' value='Add Bank Details' class="e-btn inverted danger">
							</div>
							<div class="col"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}