{% extends 'host_base.html' %}
{% load crispy_forms_tags %}
{% block host_content %}
<div class="container" style="padding: 0px;margin:0px;">
	<div class="row" style="margin-top: 2%;">
		<div class="col-lg-12" style="padding: 0px;">
			<div class="row">
				<div class="col-lg-12">
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row">
							<div class="col">
								{{form.first_name|as_crispy_field}}
							</div>
							<div class="col">
								{{form.last_name|as_crispy_field}}
							</div>
							<div class="col">
								{{form.gender|as_crispy_field}}
							</div>														
						</div>
						<div class="row">
							<div class="col">
								{{form.email_id|as_crispy_field}}
							</div>
							<div class="col">
								{{form.contact_number|as_crispy_field}}
							</div>
							<div class="col">
								{{form.photo|as_crispy_field}}
							</div>														
						</div>	
						<div class="row">
							<div class="col">
								{{form.plat_number|as_crispy_field}}
							</div>
							<div class="col">
								{{form.area|as_crispy_field}}
							</div>
							<div class="col">
								{{form.city|as_crispy_field}}
							</div>														
						</div>	
						<div class="row">
							<div class="col">
								{{form.state|as_crispy_field}}
							</div>
							<div class="col">
								{{form.country|as_crispy_field}}
							</div>
							<div class="col">
								{{form.postal_code|as_crispy_field}}
							</div>														
						</div>
						<div class="row">
							<div class="col">
							</div>
							<div class="col">
								<input type="submit" name="" value="Update Profile" class="e-btn inverted danger fullwidth">
							</div>
							<div class="col">
							</div>														
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
