{% extends 'host_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block host_content %}

<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-3">
		<form id="post_form" method="post" action="" enctype="multipart/form-data">

		    {% csrf_token %}
		    {% for hidden in postForm.hidden_fields %}
		        {{ hidden }}
		    {% endfor %}


		    {{ formset.management_form }}
		    {% for form in formset %}
		     <div class="file-upload-wrapper" data-text="Select your file!">
      				       {{ form|crispy }}

    			</div>
		 	{% endfor %}


		    <input type="submit" name="submit" value="Submit" />
		</form>
	</div>
</div>
{% endblock %}
