{% extends 'host_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'assetsa/landing/css/bootstrap.css' %}" />
<link href="{% static 'assetsa/css/efrolic.min.css' %}" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed&display=swap" rel="stylesheet">
<style type="text/css">
  .host_creation_banner{
    width: 100%;
    height: 60vh;
    margin-left: 10%;
    margin-top: 10%;
  }
  .soyo_bg{
    background-color: darkorange;
    color: white;
  }
  .heading{

  font-family: 'Saira Extra Condensed', sans-serif; 

   }
   .data{
    color: red;
   }
</style>
{% endblock %}
{% block host_content %}

<div id="wrapper" style="margin: 0px;padding: 30px;">
    <div class="content" style="margin: 0px;padding: 0px;">
        <h4 class="text-center heading">We Always love to help you more</h4>
        <div class="e-container">
        <div class="row" style="margin: 0px;padding: 10px;">
            <div class="col-lg-6">
              <img src="{% static 'assets/images/welcome.jpg' %}">
            </div>
            <div class="col-lg-6">
              <div class="data">
                <h6>Write Us on customer@soyo.com</h6>
                <h6>Call us on +91 293030101</h6>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}