{% extends 'host_base.html' %}
{% load crispy_forms_tags %}
{% block host_content %}
<div class="container" style="padding: 0px;margin:0px;">
	<div class="row" style="margin-top: 2%;">
		<div class="col-lg-12" style="padding: 0px;">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{form|crispy }}
						<div class="row">
							<div class="col">
								<input type='submit' value='Add New Bed' class="e-btn inverted danger fullwidth">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}