{% extends 'host_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block host_content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <h6 class="text-purple">Listing Details</h6>
        <div class="e-box">

            <div class="row">
                <div class="col">
                    {{form.title|as_crispy_field}}
                </div>
                <div class="col">
                    {{form.listing_type|as_crispy_field}}
                </div>
                <div class="col">
                    {{form.listing_econamy|as_crispy_field}}
                </div>                                      
            </div>
            <div class="row">
                <div class="col">
                    {{form.listing_description|as_crispy_field}}
                </div>
                <div class="col">
                    {{form.details_description|as_crispy_field}}
                </div>                                      
            </div>
        </div>
        <h6 class="text-purple">Contact Information</h6>
        <div class="e-box">
            <div class="row">
                <div class="col">
                    {{form.primary_contact_number|as_crispy_field}}
                </div>
                <div class="col">
                    {{form.secondary_contact_number|as_crispy_field}}
                </div>                                    
            </div>
            <div class="row">
                <div class="col">
                    {{form.contact_email_id|as_crispy_field}}
                </div>
                <div class="col">
                    {{form.website|as_crispy_field}}
                </div>                                      
            </div>
        </div>
        <h6 class="text-purple">Listing Information</h6>
         <div class="e-box">
            <div class="row">
                <div class="col">
                    {{form.number_of_bedrooms|as_crispy_field}}
                </div>
                <div class="col">
                    {{form.number_of_beds|as_crispy_field}}
                </div>                                    
            </div>
            <div class="row">
                <div class="col">
                    {{form.number_of_rooms|as_crispy_field}}
                </div>
                <div class="col">
                    {{form.price|as_crispy_field}}
                </div>                                      
            </div>
        </div> 
        <h6 class="text-purple">Terms & Conditions</h6>
         <div class="e-box">
            <div class="row">
                <div class="col">
                    {{form.is_smoking_allowed|as_crispy_field}}
                </div>
                <div class="col">
                    {{form.is_childrens_allowed|as_crispy_field}}
                </div>            
                <div class="col">
                    {{form.is_pets_allowed|as_crispy_field}}
                </div>                                    
            </div>        
        </div>
        <h6 class="text-purple">Amenities</h6>
         <div class="e-box">
            <div class="row">
                <div class="col">
                    {{form.is_tv_available|as_crispy_field}}
                </div>
                <div class="col">
                    {{form.is_gym_available|as_crispy_field}}
                </div>            
                <div class="col">
                    {{form.is_wardrob_available|as_crispy_field}}
                </div>                                    
            </div>
            <div class="row">
                <div class="col">
                    {{form.is_restaurant_inside|as_crispy_field}}
                </div>
                <div class="col">
                    {{form.is_spa_available|as_crispy_field}}
                </div>            
                <div class="col">
                    {{form.is_elevator_available|as_crispy_field}}
                </div>                                    
            </div> 
            <div class="row">
                <div class="col">
                    {{form.is_wifi_available|as_crispy_field}}
                </div>
                <div class="col">
                    {{form.is_airport_shuttle_available|as_crispy_field}}
                </div>            
                <div class="col">
                    {{form.distance_to_busstop|as_crispy_field}}
                </div>                                    
            </div>               
        </div>
         <div class="e-box">
            <div class="row">
                <div class="col">
                    {{form.country|as_crispy_field}}                    
                </div>
                <div class="col">
                    {{form.state|as_crispy_field}}
                </div>            
                <div class="col">
                    {{form.city|as_crispy_field}}
                </div>                                    
            </div>
            <div class="row">
                <div class="col">
                    {{form.area|as_crispy_field}}                    
                </div>
                <div class="col">
                    {{form.plat_number|as_crispy_field}}
                </div>            
                <div class="col">
                    {{form.postal_code|as_crispy_field}}
                </div>                                    
            </div> 
            <div class="row">
                <div class="col">
                    {{form.banner_image|as_crispy_field}}
                </div>
                <!-- <div class="col"></div>                                    -->
            </div>               
        </div>
        <button type="submit" class="e-btn rounded outlined purple">Add New Listing</button>       
    </form>  
</div>              
{% endblock %}