{% extends 'host_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block host_content %}
{% for listing in host_listings %}
<style type="text/css">
	h6{
	font-weight:normal
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-3">
					<img src="{% if listing.banner_image %}{{listing.banner_image.url}}{% else %}{% static 'assets/images/no.png' %}{% endif %}">
				</div>
				<div class="col-lg-3">
					<h6>Title:&nbsp;{{listing.title}}</h6>
					<h6>Plat:&nbsp;{{listing.plat_number}}</h6>
					<h6>Area:&nbsp;{{listing.area}}</h6>
					<h6>City:&nbsp;{{listing.city}}</h6>
					{% if listing.is_active %}
		    			<a class="e-btn plane inverted danger" href="{% url 'stop_accepting_bookings' listing.pk %}">Close Bookings</a>
		    		{% else %}
		    			<a class="e-btn plane inverted success" href="{% url 'start_accepting_bookings' listing.pk %}">Open Bookings</a>
		    		{% endif %}					
				</div>
				<div class="col-lg-6">
					<table class="table">
						<thead>
							<tr>
								<td>Sun</td>
								<td>Mon</td>
								<td>Tue</td>
								<td>Wed</td>																							
								<td>Thu</td>
								<td>Fri</td>
								<td>Sat</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
								{{listing.listing_business_hours.monday_opening}}
								</td>
								<td>
								{{listing.listing_business_hours.tuesday_opening}}
								</td>
								<td>
								{{listing.listing_business_hours.wednesday_opening}}
								</td>
								<td>
								{{listing.listing_business_hours.thursday_opening}}
								</td>
								<td>
								{{listing.listing_business_hours.friday_opening}}
								</td>
								<td>
								{{listing.listing_business_hours.saturday_opening}}
								</td>
								<td>
								{{listing.listing_business_hours.sunday_opening}}
								</td>
							</tr>
							<tr>
								<td>
								{{listing.listing_business_hours.monday_closing}}
								</td>
								<td>
								{{listing.listing_business_hours.tuesday_closing}}
								</td>
								<td>
								{{listing.listing_business_hours.wednesday_closing}}
								</td>
								<td>
								{{listing.listing_business_hours.thursday_closing}}
								</td>
								<td>
								{{listing.listing_business_hours.friday_closing}}
								</td>
								<td>
								{{listing.listing_business_hours.saturday_closing}}
								</td>
								<td>
								{{listing.listing_business_hours.sunday_closing}}
								</td>
							</tr>							
						</tbody>
					</table>
					<a class="e-btn plane inverted danger" href="{% url 'host_listing_update_view' listing.pk %}">Update Info</a>
							{% if listing.listing_business_hours %}
									<a class="e-btn plane inverted danger" href="{% url 'host_update_timings' listing.pk%}">Update Timings
									</a>
							{% else %}
									<a class="e-btn plane inverted success" href="{% url 'host_add_timings' listing.pk %}">Add Timings 
									</a>							
							{% endif %}
					<a class="e-btn plane inverted danger" href="{% url 'host_add_new_bed' listing.pk %}">New Bed</a>

				</div>				
			</div><hr>
			<div class="row">
				{% for bed in listing.beds.all %}
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-3">
							<img src="{% if bed.bed_banner_image %}{{bed.bed_banner_image.url}}{% else %}{% static 'assets/images/no_image.jpg' %}{% endif%}">
						</div>
						<div class="col-lg-5">
							<p>{{bed.title}}</p>
							<p>Rs.{{bed.bed_price}}</p>
						</div>
						<div class="col-lg-3">
							<p style="color: darkgreen;">left: {{bed.available_beds}}</p>
							{% if bed.is_active %}
									<a class="e-btn plane inverted danger" href="{% url 'host_close_bed_bookings' bed.pk %}">Close 
									</a>
							{% else %}
									<a class="e-btn plane inverted success" href="{% url 'host_open_bed_bookings' bed.pk %}">Open 
									</a>							
							{% endif %}
						</div>
					</div><hr>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endfor %}

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      	<form method="post" enctype="multipart/form-data">
      		{% csrf_token %}
      		{{form|crispy}}
      		<button class="e-btn purple">Add Bed</button>
      	</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
