{% extends 'host_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block host_content %}
 <link type="text/css" rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
<style type="text/css">
	    .guest_amenties{
      width: 70px;
      height: 80px;
      margin: 0 auto;
      
    }
</style>
<div class="container">
	<div class="row" style=";">
		<div class="col-lg-4">
			<div class="">
				<img src="{{listing.banner_image.url}}">
			</div>
		</div>
		<div class="col-lg-6">
			<div class="">
				<h5>{{listing.title}}</h5>
				<h6>{{listing.plat_number}}-{{listing.area}}-{{listing.city}}</h6><hr>
			{% if listing.primary_contact_number %}
				<h6 class="host_listing_header_text"><i class="fa fa-phone  fa-rotate-270 text-success"></i>&nbsp;&nbsp;{{listing.primary_contact_number}}</h6>
			{% endif %}
			{% if listing.secondary_contact_number %}
				<h6 class="host_listing_header_text"><i class="fa fa-phone  fa-rotate-180 text-primary"></i>&nbsp;&nbsp;{{listing.secondary_contact_number}}</h6>
			{% endif %}
			{% if listing.contact_email_id %}
				<h6 class="host_listing_header_text"><i class="fa fa-email  fa-rotate-270 text-success"></i>&nbsp;&nbsp;{{listing.contact_email_id }}</h6>
			{% endif %}
			{% if listing.website %}
				<h6 class="host_listing_header_text"><i class="fa fa-info-circle  fa-rotate-270 text-success"></i>&nbsp;&nbsp;{{listing.website}}</h6>
			{% endif %}
			</div><hr>
		</div>
		<div class="col-lg-2">
			<a class="e-btn anime inverted primary fullwidth" href="{% url 'host_listing_update_view' listing.pk %}">Update</a>
			<a class="e-btn anime inverted purple fullwidth" data-toggle="modal" data-target="#myModal">New Bed</a>
			<a class="e-btn anime inverted purple fullwidth" href="{% url 'host_add_galary_images' listing.pk %}">Add Galary</a>		
		</div>
	</div>
</div>
<div class="container" style="margin-top: 2%;">
	<div class="row">
		<div class="col-lg-6">
			<div class="">
				<h6>About</h6>
				<p class="text-justify">{{listing.listing_description}}</p>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="">
				<h6>Extra Information</h6>
				<p class="text-justify">{{listing.details_description}}</p>
			</div>
		</div><hr>
		<div class="col-lg-12">
			<div class="row">
                    {% if listing.is_gym_available %} 
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 card">                      
                        <figure class="guest_amenties">
                          <img src="{% static 'assets/icons/dumbbell.svg' %}" alt="Gym">
                        </figure>
                    </div>
                    {% endif %}                    
                      {% if listing.is_wifi_available %}                     
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 card">
                        <figure class="guest_amenties">
                          <img src="{% static 'assets/icons/wifi.svg' %}" alt="Free Wifi">
                      </figure>                      
                    </div>
                    {% endif %}
                      {% if listing.is_spa_available %}                    
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 card"> 
                        <figure class="guest_amenties">
                          <img src="{% static 'assets/icons/massage.svg' %}" class="guest_amenties">
                        <!-- <figcaption class="guest_extra">spa</figcaption> -->
                      </figure>                      
                    </div>
                    {% endif %}
                      {% if listing.is_restaurant_inside %}                     
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 card">
                        <figure class="guest_amenties">
                        <img src="{% static 'assets/icons/cutlery.svg' %}" class="guest_amenties">
                        <!-- <figcaption class="guest_extra">restarent</figcaption> -->
                      </figure>
                    </div>                    
                      {% endif %}
                      {% if listing.is_tv_available %}                       
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 card">
                        <figure class="guest_amenties">
                        <img src="{% static 'assets/icons/monitor.svg' %}" class="guest_amenties">
                        <!-- <figcaption class="guest_extra">led tv</figcaption>                       -->
                      </figure>
                    </div>
                    {% endif %}
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 card">
                      {% if listing.is_wardrob_available %} 
                        <img src="{% static 'assets/icons/wardrobe.svg' %}" class="guest_amenties">
                        <!-- <figcaption class="guest_extra">wardrobe</figcaption> -->
                      {% endif %}
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 card">
                      {% if listing.is_elevator_available %} 
                        <img src="{% static 'assets/icons/elevator.svg' %}" class="guest_amenties">
                        <!-- <figcaption class="guest_extra">elevator</figcaption> -->
                      {% endif %}
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 card">
                      {% if listing.is_parking_available %} 
                        <img src="{% static 'assets/icons/garage.svg' %}" class="guest_amenties">
                        <!-- <figcaption class="guest_extra">parking</figcaption> -->
                      {% endif %}
                    </div>                                     
                  </div>
		</div>	
	</div>
</div>

<div class="container">
	{% for bed in listing.beds.all %}
	<div class="row e-box">
		<div class="col-lg-3 host_listing_header">
			<img 
			src="{% if bed.bed_banner_image %}{{bed.bed_banner_image.url}}{% else %}{% static 'assets/images/no_image.jpg' %}{% endif%}" 

			alt="{{bed.bed_banner_image}}">
		</div>
		<div class="col-lg-3 host_listing_header host_bed_detail">
				<h6>{{bed.title}}</h6>
				<span class="plain text-success" style="font-size: 15px;">{{bed.number_of_beds}} Beds</span>
		</div>
		<div class="col-lg-3 host_listing_header host_bed_detail">Rs.{{bed.bed_price}}/Hr</div>
		<div class="col-lg-2 host_bed_btn">
			<a class="e-btn outlined rounded danger fullwidth ">Update</a>
			<a class="e-btn outlined rounded success fullwidth ">Close</a>
	</div>
	</div>
	{% endfor %}
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      	<form method="post" enctype="multipart/form-data">
      		{% csrf_token %}
      		{{form|crispy}}
      		<button class="e-btn purple">Add Bed</button>
      	</form>
      </div>
    </div>
  </div>
</div>


<!--Galar Model-->
<div class="modal" id="myModalGal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      	<form method="post" enctype="multipart/form-data">
      		{% csrf_token %}
      		{{galary_form|crispy}}
      		<button class="e-btn purple">Add Photo</button>
      	</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
