{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'assets/landing/css/bootstrap.css' %}" />
<link href="{% static 'assets/css/efrolic.min.css' %}" rel="stylesheet">  
{% endblock %}
{% block app_block %}
<div id="wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-3 col-md-3 offset-lg-4 offset-md-4 e-card e-box">
                <div class="custom-form">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <button class="e-btn e-btn-primary outlined purple btn-block" type="submit">Login</button>
                    </form>
                </div>  
            </div>
        </div>
    </div>
</div>
{% endblock %}