{% extends 'host_base.html' %}
{% block host_content %}
<div class="container" style="padding: 0px;margin:0px;">
	<div class="row">
		<div class="col-lg-12" style="padding: 0px;">
			<div class="container">
				<div class="row text-primary" style="margin-top:2%;">
						<div class="col-lg-2">
							<h6>Guest Name</h6>
						</div>
						<div class="col-lg-2">
							<h6>Booking Date</h6>
						</div>
						<div class="col-lg-2">
							<h6>Payment</h6>
						</div>
						<div class="col-lg-2">
							<h6>Bed Type</h6>
						</div>						
						<div class="col-lg-2">
							<h6>Check In </h6>
						</div>	
						<div class="col-lg-2">
							<h6>Check Out</h6>
						</div>																									
				</div><hr>
				{% for booking in bookings %}
				<div class="row" style="margin-top:2%;">
						<div class="col-lg-2">
							<h6>{{booking.primary_person}}</h6>
						</div>
						<div class="col-lg-2">
							<h6>{{booking.booking_date}}</h6>
						</div>
						<div class="col-lg-2">
							<h6>{{booking.total_amount}}</h6>
						</div>
						<div class="col-lg-2">
							<h6>{{booking.booking_bed}}</h6>
						</div>						
						<div class="col-lg-2">
							<h6>{{booking.booking_from}}</h6>
						</div>	
						<div class="col-lg-2">
							<h6>{{booking.booking_to}}</h6>				
						</div>																									
				</div><hr>				
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
