{% extends 'host_base.html' %}
{% block host_content %}
<div class="container" style="padding: 0px;margin:0px;">
	<div class="row">
		<div class="col-lg-12" style="padding: 0px;">
			<div class="container">
				<div class="row text-primary" style="margin-top:2%;">
						<div class="col-lg-2">
							<h6>Guest Name</h6>
						</div>
						<div class="col-lg-2">
							<h6>Booked Time</h6>
						</div>
						<div class="col-lg-2">
							<h6>Payment</h6>
						</div>
						<div class="col-lg-2">
							<h6>Bed Type</h6>
						</div>						
						<div class="col-lg-2">
							<h6>Check In </h6>
						</div>	
						<div class="col-lg-2">
							<h6>Check Out</h6>
						</div>																									
				</div><hr>
				{% for booking in bookings %}
				<div class="row" style="margin-top:2%;">
						<div class="col-lg-2">
							<h6>{{booking.primary_person}}</h6>
						</div>
						<div class="col-lg-2">
							<h6>{{booking.created_at}}</h6>
						</div>
						<div class="col-lg-2">
							{% if booking.is_amount_paid %}
							<h6 class="text-success">Paid</h6>
							{% else %}
							<h6 class="text-danger">Pending</h6>
							{% endif %}
						</div>
						<div class="col-lg-2">
							<h6>{{booking.booking_bed}}</h6>
						</div>						
						<div class="col-lg-2">
							<h6>{{booking.booking_from}}</h6>
						</div>	
						<div class="col-lg-2">
							<a class="e-btn plain success outlined" href="{% url 'host_checkout_guest' booking.id %}" 
								style="text-decoration: none;">
								Checkout
						</a>							
						</div>																									
				</div><hr>				
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
