{% extends 'host_base.html' %}
{% block host_content %}
<div class="container" style="padding: 0px;margin:0px;">
	<div class="row">
		<div class="col-lg-12 e-card" style="height: 85vh;padding: 0px;">
			{{host}}
		</div>
	</div>
</div>
{% endblock %}
