{% extends 'host_base.html' %}
{% block host_content %}
<div class="container" style="padding: 0px;margin:0px;">
	<div class="row">
		
		<div class="col-lg-12">
			<div class="row text-primary">
				<div class="col-lg-3">
					<h6>Guest Name</h6>
				</div>
				<div class="col-lg-2">
					<h6>Checkin Details</h6>
				</div>
				<div class="col-lg-2">
					<h6>Checkin Bed</h6>
				</div>
				<div class="col-lg-1">
					<h6>Price</h6>
				</div>
				<div class="col-lg-1">
					<h6>Status</h6>
				</div>				
			</div><hr>			
			{% for booking in upcoming_bookings %}			
			<div class="row">
				<div class="col-lg-3">
					{{booking.primary_person.guest.get_full_name}}<br>
					{{booking.created_at}}
				</div>
				<div class="col-lg-2">
					{{booking.booking_date}}<br>
					{{booking.booking_from}} to {{booking.booking_to}}
				</div>
				<div class="col-lg-2">
					{{booking.booking_bed}}
				</div>
				<div class="col-lg-1">
					{{booking.total_amount}}
				</div>
				<div class="col-lg-1">
					{% if booking.is_amount_paid %}
						<p style="color: darkgreen;">Paid</p>
					{% else %}
						<p class="text-danger">Pending</p>
					{% endif %}
				</div>				
				<div class="col-lg-1">
					<a class="e-btn plain success outlined" href="{% url 'host_accpect_guest_checkin' booking.id %}" 
					style="text-decoration: none;">Accept</a>
				</div>&nbsp;
				<div class="col-lg-1">
					<a class="e-btn plain danger outlined">Expire</a>
				</div>				
			</div><hr>	
			{% endfor%}	
		</div>
	</div>
</div>
{% endblock %}
