{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'assetsa/landing/css/bootstrap.css' %}" />
<link href="{% static 'assetsa/css/efrolic.min.css' %}" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
<style type="text/css">
  .host_creation_banner{
    width: 100%;
    height: 60vh;
    margin-left: 10%;
    margin-top: 10%;
  }
  .soyo_bg{
    background-color: darkorange;
    color: white;
  }
  .heading{

  font-family: 'Titillium Web', sans-serif;

   }
</style>
{% endblock %}
{% block app_block %}

<div id="wrapper" style="margin: 0px;padding: 30px;">
    <div class="content" style="margin: 0px;padding: 0px;">
        <h4 class="text-center heading">Congratulations All done set backand Relax.Our team will reach you soon</h4>
        <!-- <h6 class="text-center">Mean While Pleas Look at how to get engage more customers from our blog</h6> -->
        <div class="e-container">
     
    </div>
</div>
</div>
{% endblock %}