{% extends 'host_base.html' %}
{% load crispy_forms_tags %}
{% block host_content %}
<div class="container" style="padding: 0px;margin:0px;">
	<div class="row" style="margin-top: 2%;">
		<div class="col-lg-12" style="padding: 0px;">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row">
							<div class="col">{{form.monday_opening|as_crispy_field}}</div>
							<div class="col">{{form.monday_closing|as_crispy_field}}</div>
						</div>
						<div class="row">
							<div class="col">{{form.tuesday_opening|as_crispy_field}}</div>
							<div class="col">{{form.tuesday_closing|as_crispy_field}}</div>
						</div>
						<div class="row">
							<div class="col">{{form.wednesday_opening|as_crispy_field}}</div>
							<div class="col">{{form.wednesday_closing|as_crispy_field}}</div>
						</div>
						<div class="row">
							<div class="col">{{form.thursday_opening|as_crispy_field}}</div>
							<div class="col">{{form.thursday_closing|as_crispy_field}}</div>
						</div>
						<div class="row">
							<div class="col">{{form.friday_opening|as_crispy_field}}</div>
							<div class="col">{{form.friday_closing|as_crispy_field}}</div>
						</div>
						<div class="row">
							<div class="col">{{form.saturday_opening|as_crispy_field}}</div>
							<div class="col">{{form.saturday_closing|as_crispy_field}}</div>
						</div>	
						<div class="row">
							<div class="col">{{form.sunday_opening|as_crispy_field}}</div>
							<div class="col">{{form.sunday_closing|as_crispy_field}}</div>
						</div>															
						<div class="row">
							<div class="col">
								<input type='submit' value='Submit' class="e-btn inverted danger fullwidth">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}