{% extends 'host_base.html' %}
{% block host_content %}
<div class="container" style="padding: 0px;margin:0px;">
	<div class="row">
		<div class="col-lg-12">
			<div class="row">

				<div class="col-lg-6">
					<table class="table">
						<tr>
							<td>Bank Name</td>
							<td>{{host.hostbankdetail.bank_name}}</td>
						</tr>
						<tr>
							<td>Account Holder</td>
							<td>{{host.hostbankdetail.bank_account_number}}</td>
						</tr>
						<tr>
							<td>Account Number</td>
							<td>{{host.hostbankdetail.bank_account_holder}}</td>
						</tr>
						<tr>
							<td>IFSC Code</td>
							<td>{{host.hostbankdetail.bank_ifsc_code}}</td>
						</tr>																		
					</table>
				</div>
				<div class="col-lg-3">
					<div class="card">
						<h6 class="card-title text-white text-center bg-danger" style="font-size: 16px;">Total Bookings</h6>
						<div class="card-body">
							<p></p>
							
						</div>
						<div class="card-footer text-center">from the starting</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="card">
						<h6 class="card-title text-white text-center bg-danger" style="font-size: 16px;">Soyo Valet</h6>
						<div class="card-body">
							<p></p>
						</div>						
						<div class="card-footer text-center">
							current month
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><hr>
	<div class="row" style="margin-top: 2%;">
		<div class="col-lg-12" style="padding: 0px;">
			<div class="row">
				<div class="col-lg-2">
					{% if host_bank_details %}
					<a class="e-btn outlined rounded no-shadow sky soyo_btn" 
					href="{% url 'add_host_bank_details' %}" style="text-decoration: none;">Add Bank Details</a>
					{% else %}	
					{% endif %}				
				</div>
				<div class="col-lg-8">

				</div>
				<div class="col-lg-2">
					<a class="e-btn outlined rounded no-shadow sky soyo_btn" 
					href="{% url 'host_update_profile' request.user.host.pk %}" style="text-decoration: none;">Update Profile</a>
				</div>
				<div class="col-lg-3">
					<img src="{% if host.photo %}{{host.photo.url}}{% else%} {% endif %}">
				</div>
				<div class="col-lg-4">
					<table class="table">
						<tr class="no_border_table">
							<td>First Name</td>
							<td>{{host.first_name}}</td>
						</tr>
						<tr class="no_border_table">
							<td>Last Name</td>
							<td>{{host.last_name}}</td>
						</tr>
						<tr class="no_border_table">
							<td>Gender</td>
							{% if host.gender == 'M' %}
								<td>Male</td>
							{% else %}
								<td>Female</td>
							{% endif %}
						</tr>
						<tr class="no_border_table">
							<td>Phone</td>
							<td>{{host.contact_number}}</td>
						</tr>
						<tr class="no_border_table">
							<td>Email</td>
							<td>{{host.email_id}}</td>
						</tr>																					
					</table>					
				</div>
				<div class="col-lg-4">
					<table class="table">
						<tr class="no_border_table">
							<td>Plat</td>
							<td>{{host.plat_number}}</td>
						</tr>
						<tr class="no_border_table">
							<td>Area</td>
							<td>{{host.area}}</td>
						</tr>
						<tr class="no_border_table">
							<td>City</td>
							<td>{{host.city}}</td>
						</tr>
						<tr class="no_border_table">
							<td>State</td>
							<td>{{host.state}}</td>
						</tr>
						<tr class="no_border_table">
							<td>Pincode</td>
							<td>{{host.postal_code}}</td>
						</tr>																					
					</table>
				</div>
				<div class="col-lg-3">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
