{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'assetsa/landing/css/bootstrap.css' %}" />
<link href="{% static 'assetsa/css/efrolic.min.css' %}" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed&display=swap" rel="stylesheet">
<style type="text/css">
  .host_creation_banner{
    width: 100%;
    height: 60vh;
    margin-left: 10%;
    margin-top: 10%;
  }
  .soyo_bg{
    background-color: darkorange;
    color: white;
  }
  .heading{

  font-family: 'Saira Extra Condensed', sans-serif; 

   }
</style>
{% endblock %}
{% block app_block %}

<div id="wrapper" style="margin: 0px;padding: 30px;">
    <div class="content" style="margin: 0px;padding: 0px;">
        <h4 class="text-center heading">Welcome to Soyo Family</h4>
        <div class="e-container">
        <div class="row" style="margin: 0px;padding: 10px;">
            <div class="col-lg-6">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                  <div class="row">
                    <div class="col">
                      {{ form.first_name|as_crispy_field}}
                    </div>
                    <div class="col">
                      {{ form.last_name|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      {{ form.email_id|as_crispy_field}}
                    </div>  
                    <div class="col">
                      {{ form.contact_number|as_crispy_field}}
                    </div>
                </div>      
                <div class="row">
                    <div class="col">
                      {{ form.plat_number|as_crispy_field}}
                    </div>                   
                    <div class="col">
                      {{ form.area|as_crispy_field}}
                    </div>                   
                </div>
                <div class="row">
                    <div class="col">
                      {{ form.city|as_crispy_field}}
                    </div>                   
                    <div class="col">
                      {{ form.state|as_crispy_field}}
                    </div>                   
                </div>
                <div class="row">
                    <div class="col">
                      {{ form.postal_code|as_crispy_field}}
                    </div>
                    <div class="col">
                      {{ form.country|as_crispy_field}}
                    </div>                                        
                </div>
                <div class="row">
                    <div class="col">
                      {{ form.gender|as_crispy_field}}
                    </div>                    
                    <div class="col">
                      {{ form.user_name|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      {{ form.password1|as_crispy_field}}
                    </div>                    
                    <div class="col">
                      {{ form.password2|as_crispy_field}}
                    </div>
                </div>              
                <div class="row">
                    <div class="col">
                      <button class="e-btn  fullwidth soyo_bg " type="submit">Register Me</button>
                    </div>                    
                </div>                        
                </form>  
            </div>
            <div class="col-lg-6">
                <img src="{% static 'assets/images/host_creation_banner.png' %}" class="host_creation_banner">
                <p style="margin-left: 10%;">By Registering with SoyoBnB you agreeing all the terms and conditions.Feel free to read the SoyoBnB terms and conditions.</p>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}